.main {
    display: flex;
    flex: 1 0 0;
    justify-content: center;
    top: 20px;
    position: relative;
   
    .container {
        border: 1px solid black;
        margin: 5px;    
        padding: 5px;
    }

    button {
        color: rgb(0, 92, 187);
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: skyblue;
        height: var(--mdc-protected-button-contsainer-height, 30px);
        font-family: var(--mdc-protected-button-label-text-font, var(--mat-sys-label-large-font));
        font-size: var(--mdc-protected-button-label-text-size, var(--mat-sys-label-large-size));
        letter-spacing: var(--mdc-protected-button-label-text-tracking, var(--mat-sys-label-large-tracking));
        text-transform: var(--mdc-protected-button-label-text-transform);
        font-weight: var(--mdc-protected-button-label-text-weight, var(--mat-sys-label-large-weight));
        padding: 0 var(--mat-protected-button-horizontal-padding, 24px);
    }

    button:disabled {
        color: gray;
    }

    .box {
        display: block;
    }

    .input-form {
        display: flex;
    }
}

